<a href="https://colab.research.google.com/github/JoaoVitorMarques14/JoaoMarques/blob/master/%5BTemplate%5D_Analisando_os_Dados_do_Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Data Science na Pr치tica 2.0**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

# Analizing San Francisco rental market through Airbnb data

[Airbnb](https://www.airbnb.com.br/) is considered **one of the largest hotel companies in the world** and **not owning a single hotel.** 

This website connects hosts that are willing to rent an apartment or room to travelers. This way, Airbnb offers an interesting alternative for accommodation in Big cities.

By the end of 2018, this startup company that was founded only 10 years before, had already **hosted more than 300 million people** around the world and really challenging the traditional hotel chains.

An Airbnb great initiative is to make the data available for some of the world's biggest cities. It is possible obtain real data from the website [Inside Airbnb](http://insideairbnb.com/get-the-data.html) to develop data science projects and solutions. 

The purpose of this report is to ....

<center><img alt="Analisando Airbnb" width="40%" src="https://www.area360.com.au/wp-content/uploads/2017/09/airbnb-logo.jpg"></center>

## Obtaining data

All the data used in this report was taken from [Inside Airbnb](http://insideairbnb.com/get-the-data.html).

For this analysis it was used the following archive:
* `listings.csv` - *Summary information and metrics for listings in San Francisco (good for visualisations).*

In [0]:
# importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [0]:
#Importing the archive listings.csv to a DataFrame
df = pd.read_csv("http://data.insideairbnb.com/united-states/ca/san-francisco/2020-06-08/visualisations/listings.csv")

## Data Analisis

**Dicion치rio das vari치veis**

* `id` - Property id
* `name` - Property name
* `host_id` - Property owner's id
* `host_name` - Host name
* `neighbourhood_group` - This column has no value
* `neighbourhood` - Neighbourhood name
* `latitude` - Property latitude coordinate
* `longitude` - Property longitude coordinate
* `room_type` - Type of offered room
* `price` - Rental price
* `minimum_nights` - Minimum nights a guest can book
* `number_of_reviews` - Number of reviews the property has
* `last_review` - date of the last review
* `reviews_per_month` - Number of reviews per month
* `calculated_host_listings_count` - Number of property the host has
* `availability_365` - Number of available days in 365 days


Antes de iniciar qualquer an치lise, vamos verificar a cara do nosso *dataset*, analisando as 5 primeiras entradas.

Before starting the analyses let's check the first 5 lines of our dataset.

In [4]:
# Displaying the first 5 lines
df.head()

     id  ... availability_365
0   958  ...              143
1  5858  ...                0
2  7918  ...              365
3  8142  ...              365
4  8339  ...              365

[5 rows x 16 columns]

### **Q1. Quantos atributos (vari치veis) e quantas entradas o nosso conjunto de dados possui? Quais os tipos das vari치veis?**

In [0]:
# identificar o volume de dados do DataFrame

# verificar as 5 primeiras entradas do dataset

### **Q2. Qual a porcentagem de valores ausentes no *dataset*?**

In [0]:
# ordenar em ordem decrescente as vari치veis por seus valores ausentes

### **Q3. Qual o tipo de distribui칞칚o das vari치veis?**

In [0]:
# plotar o histograma das vari치veis num칠ricas

### **Q4. Qual a m칠dia dos pre칞os de aluguel?**

In [0]:
# ver a m칠dia da coluna `price``

### **Q4. Qual a correla칞칚o existente entre as vari치veis**

In [0]:
# criar uma matriz de correla칞칚o

# mostrar a matriz de correla칞칚o

In [0]:
# plotar um heatmap a partir das correla칞칫es

### **Q5. Qual o tipo de im칩vel mais alugado no Airbnb?**

In [0]:
# mostrar a quantidade de cada tipo de im칩vel dispon칤vel

In [0]:
# mostrar a porcentagem de cada tipo de im칩vel dispon칤vel

### **Q6. Qual a localidade mais cara do dataset?**

In [0]:
# ver pre칞os por bairros, na m칠dia

In [0]:
# plotar os im칩veis pela latitude-longitude

### **Q7. Qual 칠 a m칠dia do m칤nimo de noites para aluguel (minimum_nights)?**

In [0]:
# ver a m칠dia da coluna `minimum_nights``

## Conclus칫es