<a href="https://colab.research.google.com/github/JoaoVitorMarques14/JoaoMarques/blob/master/Intro_to_Pandas_V3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Data Science na Prática 2.0**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

# Introdução ao Pandas

Pandas é uma biblioteca do Python, provavelmente a mais popular de todas quando se trata de *Data Science*.

Por meio do Pandas, você consegue importar dados (arquivos `csv`e `xls`, por exemplo), tratar esses dados, transformá-los e realizar análises completas dos mesmos.

Uma vez que você importa um conjunto de dados usando Pandas, fica muito fácil fazer coisas do tipo:

* Extrai informações estatísticas
  * Qual a média, mediana, valores máximos e mínimos?
  * Qual é a distribuição das suas variáveis?
  * Qual a correlação entre duas variáveis quaisquer?
* Exportar os dados para um novo formato de arquivo
* Visualizar gráficos dos mais diferentes tipos
* Alimentar modelos de *machine learning* feitos em cima do Scikit-learn

Pandas é construído em cima de outra biblioteca extremamente popular, o **NumPy**. Quem já utilizou esta, vai encontrar muita similaridade com aquela.

## Instalando e utilizando o Pandas

Caso você esteja rodando o código na sua máquina local, o Pandas pode ser instalado pela linha de comando usando o seu gerenciador de pacotes (`pip` ou `conda`).

Dependendo de qual deles seja, o comando que você deve usar é

`pip install pandas`

ou 

`conda install pandas`

Como estamos usando o Colab neste curso, o Pandas vem instalado por padrão. Ou seja, a única coisa que você precisa é importar o pacote. Normalmente, para importar qualquer pacote basta apenas usar o comando `import nome_do_pacote`.

No entanto, é muito comum a gente importar o Pandas usando `import pandas as pd` para abreviar o nome da biblioteca. Se você reparar em projetos de outros cientistas de dados, vai ver que esse é (provavelmente) a maneira que eles utilizam.

In [1]:
# importar a biblioteca pandas
import pandas as pd

### Importar arquivos `csv`

Para dar um exemplo de como é simples importar dados com o Pandas, veja o seguinte exemplo.

Pelo site [Yahoo Finance](https://finance.yahoo.com), baixei os dados da ação ordinária do Zoom video conferences (ZM) em formato `csv` e disponibilizei o arquivo [neste link](https://raw.githubusercontent.com/JoaoVitorMarques14/dataset/master/ZM.csv). Se eu abrir esse arquivo na minha máquina pelo Excel, é assim que ele vai aparecer para mim:

<center><img src="https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/bbas3_excel.png" height="300px"></center>

Importar esse mesmo arquivo usando o Pandas é tão simples quanto executar a função `pd.read_csv("local_do_arquivo.csv")`, informando qual o endereço que o `csv` se encontra (endereço na internet ou caminho na máquia local.

In [2]:
# importar o arquivo csv para o Pandas
df = pd.read_csv("https://raw.githubusercontent.com/JoaoVitorMarques14/dataset/master/ZM.csv")

Pronto! O arquivo `BBAS3.SA.csv` foi importado com sucesso e já está pronto para ser usado neste *notebook*. 

### Conhecendo os componentes básicos do Pandas

Os dois componentes básicos que a gente deve conhecer quando lidando com Pandas são `Series` e `DataFrame`. 

<center><img src="https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/componentes_pandas.png"></center>

Simplificadamente, você pode pensar o `DataFrame` como sendo uma planilha de Excel, e `Series` como sendo apenas uma coluna individual.

Apesar de parecer conceitualmente simples, estas duas estruturas nativas do Pandas facilitam muito o trabalho com dados, uma vez que elas podem armazenar qualquer tipo de dado.

* `type()` - mostra qual o tipo da variável

In [3]:
# ver o tipo da variável df
type(df)

pandas.core.frame.DataFrame

In [5]:
# ver o tipo de uma coluna da variável df
type(df["High"])

pandas.core.series.Series

### Ver dimensões do DataFrame

Veja novamente a imagem acima. Basicamente, o arquivo que importamos se parece com uma simples tabela de Excel, composta por linhas e colunas. Para você ver o tamanho dessa "tabela", o que significa ver o formato (*shape*) dela, basta executar `df.shape`.

In [6]:
# ver o tamanho do dataframe (formato)
df.shape

(254, 7)

Quando você executar a célula acima, vai receber como *output* os valores `(254, 7)`. Isso significa que o arquivo importado possui 254 linhas e 7 colunas.

### Conhecendo os dados

Uma vez que você importou a sua base de dados para o Pandas, existem muitos atributos e métodos nativos da estrutura *DataFrame* que facilitam muito a exploração de dados.

Uma das principais funções da biblioteca, e que você irá usar em praticamente todos os seus projetos é `df.head()` e `df.tail()`.

O arquivo `csv` com os dados da ação BBAS3 contém 248 linhas, mas o normal é você lidar com milhares ou centenas de milhares de linhas. Obviamente, seria inviável se tivessemos que olhar cada linha para entender como os dados estão apresentados.

Na verdade, quando a gente importa um *dataset*, queremos dar uma olhadinha rápida em algumas entradas, só para ter noção dos dados que iremos lidar. Isso é feito facilmente com:

* `df.head()` - exibe as 5 primeiras entradas do conjunto de dados
* `df.tail()` - exibe as 5 últimas entradas do conjunto de dados

In [7]:
# mostrar as 5 primeiras entradas do DataFrame
df.head()

         Date       Open        High  ...       Close   Adj Close   Volume
0  2019-07-22  94.190002   97.464996  ...   96.669998   96.669998  1483000
1  2019-07-23  97.500000   98.150002  ...   97.389999   97.389999  2241700
2  2019-07-24  97.120003   97.879997  ...   95.940002   95.940002  1283700
3  2019-07-25  95.839996   99.599998  ...   97.110001   97.110001  1870300
4  2019-07-26  97.949997  104.489998  ...  102.199997  102.199997  3040700

[5 rows x 7 columns]

In [8]:
# mostrar as 5 últimas entradas do DataFrame
df.tail()

           Date        Open        High  ...       Close   Adj Close   Volume
249  2020-07-16  250.389999  253.000000  ...  248.539993  248.539993  5420100
250  2020-07-17  247.169998  250.936996  ...  246.539993  246.539993  4626600
251  2020-07-20  246.487000  271.350006  ...  268.579987  268.579987  9784900
252  2020-07-21  268.750000  269.750000  ...  260.440002  260.440002  4756600
253  2020-07-22  261.950012  265.320007  ...  260.533386  260.533386  3879541

[5 rows x 7 columns]

Um dos motivos da popularidade do Pandas é por causa dessa capacidade de conseguir mostrar os dados como se estivessem em uma tabela, um formato bem amigável para a compreensão do nosso cérebro.

Compare com aquela imagem lá em cima, do Excel. É um formato que estamos bem habituados a enxergar.

Vamos supor que você precise extrair apenas os nomes das colunas do seu *DataFrame* - basta executar: df.colunms

In [9]:
# ver os nomes das colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

Conhecer o tipo de variável que está representado em cada coluna é essencial. Por exemplo:

* Quando temos uma coluna que trata de receita, despesa ou lucro, é desejável que lidemos com variáveis do tipo `float`.
* Quando estamos lidando com anos (2017, 2018, 2019), iremos desejar trabalhar com variáveis do tipo `int`.
* Quanto temos datas completas (`2019-12-30 07:37`), iremos desejar usar o formato `datetime`, para conseguir manipular adequadamente o *dataset*.

Para conhecer os tipos de variáveis de cada coluna, use `df.dtypes`.

In [10]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

Uma outra maneira de descobrir o tipo das variáveis e ainda ver os valores ausentes nas células, é por meio do método `df.info()`.

Veja como ele consegue retornar essas informações de maneira tabular.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       254 non-null    object
 1   Open       254 non-null    float64
 2   High       254 non-null    float64
 3   Low        254 non-null    float64
 4   Close      254 non-null    float64
 5   Adj Close  254 non-null    float64
 6   Volume     254 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

### Selecionando colunas

Há diversas maneiras de selecionar um sub-conjunto de dados em uma estrutura *DataFrame*.

Na maioria dos casos, o que queremos fazer é selecionar apenas uma coluna de todo o *DataFrame*.

Para selecionar uma variável, você deve colocar o nome da coluna entre colchetes, referenciando a variável onde os seus dados foram importados.

In [12]:
# selecionar a variável (coluna) "High" da nossa variável df
df["High"]

0       97.464996
1       98.150002
2       97.879997
3       99.599998
4      104.489998
          ...
249    253.000000
250    250.936996
251    271.350006
252    269.750000
253    265.320007
Name: High, Length: 254, dtype: float64

Caso o nome das coluna não contenha espaços em branco e caracteres especiais, você consegue selecionar ela de outra maneira (muito mais prática, na minha opinião).

No lugar de `df["High"]` você pode usar `df.High`, que terá o mesmo efeito.

In [14]:
# selecionar a variável (coluna) "High" da nossa variável df
df.High

0       97.464996
1       98.150002
2       97.879997
3       99.599998
4      104.489998
          ...
249    253.000000
250    250.936996
251    271.350006
252    269.750000
253    265.320007
Name: High, Length: 254, dtype: float64

### Calculando a média de uma coluna

Quando executamos o código `df.High`, você viu acima que foi impressa apenas a coluna de valores `High`. Para encontrar a média desses valores, basta utilizar `df.High.mean()`.

In [15]:
# calcular a média da coluna "High"
df["High"].mean()

122.04819692519683

Isso significa que a média dos valores da coluna `High` é `122.04819692519683`. Como vamos ver ao longo do curso, existem muitas outras medidas importantes.

## Trabalhando com datas (`datetime`)

Quando você importar um arquivo que tenha datas, provavelmente o Pandas não irá reconhecer as mesmas de maneira automática.

Quando você checou `df.info()`, viu que a coluna `Date` estava como `object`. No caso, ela é apenas texto (`string`) e não permite a extração de muita coisa útil.

Vamos converter a coluna usando `pd.to_datetime` e informando qual o formato da nossa data.

In [16]:
# antes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       254 non-null    object
 1   Open       254 non-null    float64
 2   High       254 non-null    float64
 3   Low        254 non-null    float64
 4   Close      254 non-null    float64
 5   Adj Close  254 non-null    float64
 6   Volume     254 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

In [22]:
# converter coluna Date em datetime
df.Date = pd.to_datetime(df.Date, format = "%Y-%m-%d")

In [24]:
# depois
df.Date

0     2019-07-22
1     2019-07-23
2     2019-07-24
3     2019-07-25
4     2019-07-26
         ...
249   2020-07-16
250   2020-07-17
251   2020-07-20
252   2020-07-21
253   2020-07-22
Name: Date, Length: 254, dtype: datetime64[ns]

Olhe como agora eu consigo acessar apenas os componentes de uma data, individualmente, usando `df.Date.dt`

In [25]:
df.Date.dt.date

0      2019-07-22
1      2019-07-23
2      2019-07-24
3      2019-07-25
4      2019-07-26
          ...
249    2020-07-16
250    2020-07-17
251    2020-07-20
252    2020-07-21
253    2020-07-22
Name: Date, Length: 254, dtype: object

In [26]:
df.Date.dt.day

0      22
1      23
2      24
3      25
4      26
       ..
249    16
250    17
251    20
252    21
253    22
Name: Date, Length: 254, dtype: int64

In [28]:
df.Date.dt.month

0      7
1      7
2      7
3      7
4      7
      ..
249    7
250    7
251    7
252    7
253    7
Name: Date, Length: 254, dtype: int64


No entanto, há vários formatos que um usuário pode lançar como sendo datas. Você pode encontrar exemplos como:

* 31/06/15
* 31/06/2015
* 31-6-15
* 2015-6-31
* 31 de junho de 2015

Para lidar com tudo isso, você vai ter que entender a documentação. Seguem dois links que serão úteis para isso:

* https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html?highlight=to_datetime#pandas.to_datetime
* https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior